@import url("https://assets.spayee.xyz/fonts/roobert/Roobert-Light.woff");

body {
  margin: 0;
  font-weight: normal;
  font-family: "Roobert", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vanish {
  visibility: hidden;
  // display: none !important;
  height: 0px !important;
}

.showFlex {
  visibility: visible;
  height: auto;
}

.showBlock {
  display: block !important;
}
 

$primary-color : #5755d9;
$theme-bg-color : #fff;
$header-text-color : #05215b;
$footer-text-color : #05215b;

